$couleur_vert : #00FF00;

.red{
  color: red;
}

.blue{
    color:blue;
}

.grid-atelier{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    text-align: center;
}

[class="2"]{
    grid-column-start: 1;
    grid-column-end: 1;
}

[class="3"]{
    grid-column-start: 2;
    grid-column-end: 2;
}

[class="4"]{
    grid-column-start: 3;
    grid-column-end: 3;
}

[class="5"]{
    grid-column-start: 4;
    grid-column-end: 4;
}

[id="08"]{
    grid-row-start: 2;
    grid-row-end: 4;
}

[id="10"]{
    grid-row-start: 4;
    grid-row-end: 6;
}

[id="13"]{
    grid-row-start: 7;
    grid-row-end: 9;
}

[id="15"]{
    grid-row-start: 9;
    grid-row-end: 11;
}

.lunch{
    grid-row-start: 6;
    grid-row-end: 6;
}

#BL{
    background-color:darken($couleur_vert, 30%)
}

#BE{
    background-color:darken($couleur_vert, 20%)
}

#BD{
    background-color:darken($couleur_vert, 10%)
}

#BM{
    background-color:$couleur_vert
}






